.text-center {
  text-align: center !important;
}

button {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #c9ccd0;
  color: #808488;
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
}

input {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #c9ccd0;
  color: #808488;
  display: inline-block;
}
